table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid rgb(212, 207, 232);
}

/* Style for the table header */
th {
  background-color: rgb(230, 224, 250);
  border: 1px solid rgb(212, 207, 232);
  height: 30px;
  text-align: left;
  padding: 8px;
}

/* Style for alternating row colors */
tr:nth-child(even) {
  background-color: rgb(245, 240, 255);
}
tr:nth-child(odd) {
  background-color: #fff;
}

/* Style for table data cells */
td {
  border: 1px solid rgb(212, 207, 232);
  padding: 8px;
}

/* Style for the delete button */
td button {
  background-color: #b11b1b;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

/* Style for the checkbox input */
td input[type="checkbox"] {
  cursor: pointer;
}

/* Base button styling */
button {
  background-color: #603ab7;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

/* Centers form to middle */
.form-container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/* Gap etc between form elements */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Gives input + textarea similar border styling as table */
input,
textarea {
  border: 3px solid rgb(212, 207, 232);
  padding: 10px;
}

textarea {
  resize: none;
}

/* Adds a bit of margin to the left and right of main */
main {
  margin: 0 3rem;
}

body {
  background-color: lavender;
}

/* Spacing between main child elements */
main > * {
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

p,
input::placeholder,
textarea::placeholder,
table,
button {
  font-family: "owners-text", sans-serif;
}

p,
input::placeholder,
textarea::placeholder,
button,
tbody {
  font-size: 14px;
}

thead {
  font-size: 16px;
}

h1,
h2 {
  font-family: "komet", sans-serif;
}

h1 {
  text-decoration: underline;
  font-size: 2.3rem;
  color: #2d273d;
}

h2 {
  font-weight: normal;
  color: #433863;
}

/* Styling for when the checkbox is clicked */
.bought {
  text-decoration: line-through;
  background-color: #dfdbf0 !important;
}

/* Continuation of above */
.bought [data-field="name"],
.bought [data-field="details"],
.bought [data-field="quantity"] {
  opacity: 50%;
}

/* BEGONE, GROCERY! */
.deleted {
  display: none;
}

th:nth-child(1),
[data-field="name"] {
  width: 20%;
}
th:nth-child(2),
[data-field="details"] {
  width: 55%;
}
th:nth-child(3),
[data-field="quantity"] {
  width: 100px;
}

th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}
td:nth-child(4),
td:nth-child(5),
th:nth-child(4),
th:nth-child(5) {
  text-align: center;
}

/* Feedback text & fade animation */
.feedback-container {
  display: flex;
  justify-content: center;
}

.feedback-text {
  font-family: "owners-text", sans-serif;
  opacity: 0;
  font-weight: bold;
  color: #45337c;
}

.feedback-text p {
  font-size: 20px;
}

.fade-animation {
  animation: fadeInOut 3s linear alternate;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
